# Ignore Visual Studio files
.vs/
*.vcxproj.*
*.sdf
*.suo
*.user
*.VC.db
*.opendb
*.log
*.tlog
*.pdb
*.idb
*.ilk
*.cache
*.db
*.ipch
*.obj
*.exe
*.dll
*.lib
*.exp
*.iobj
*.ipdb
*.aps
*.ncb
*.sbr
*.res
*.bak
*.tmp
*.log
*.vspscc
*.vssscc
*.v12.suo
*.v11.suo
*.v10.suo
*.v9.suo
*.v8.suo
*.v7.suo
*.v6.suo
*.v5.suo
*.v4.suo
*.v3.suo
*.v2.suo
*.v1.suo
*.opensdf
*.VC.opendb
x64/
Debug/
Release/
